name: Test

on:
  workflow_dispatch:
  push:
    branches: [main, release]
  
jobs:
  push_markdown_job:
    runs-on: ubuntu-latest
    name: Push Markdown to Notion
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@6c439dc8bdf85cadbbce9ed30d1c7b959517bc49 # v2.12.2
      with:
        egress-policy: audit

    - name: Checkout
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 2

    - name: Push markdown dry run
      uses: ./
      with:
        notion-token: ${{ secrets.NOTION_TOKEN }}
        dry-run: 'true'

    - name: Push markdown sync
      uses: ./
      id: push_markdown
      with:
        notion-token: ${{ secrets.NOTION_TOKEN }}
